#container {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    margin: 10px;
    width: 100px;
    height: 50px;
    border: none;
    /* background-color: white; */
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    border: black solid 2px;
}

#Cyan{
    background-color: cyan;
}
#Fuchsia{
    background-color: fuchsia;
}
#Salmon{
    background-color: salmon;
}
#Teal{
    background-color: teal;
}